@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

body {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: hsl(280, 13.43%, 86.86%);
    color: hsl(223.33, 9.78%, 36.08%);
}

h1 {
    font-weight: 500;
    color: hsl(280.95, 25.71%, 48.04%);
    text-decoration: underline;
    text-align: center;
}

h2 {
    color: hsl(281, 26%, 48%);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px
}

#introduction {
    font-weight: 500;
}

h3 {
    color: hsl(281, 26%, 48%);
}

ul {
    list-style: square;
}

button {
    background-color: hsl(281, 26%, 48%);
    color: hsl(1, 0%, 100%);
    font-size: 24px;
}

button:hover {
    background-color: hsl(1, 0%, 100%);
    font-weight: bold;
    color: hsl(281, 26%, 48%);
    border-radius: 20px;
    border-color: hsl(1, 0%, 100%);
}